body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 50%);
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 500px;
    height: 500px;
    gap: 1px;
    user-select: none;
}

.game-square {
    box-sizing: border-box;
    border: 2px solid gray;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    font-weight: 600;
}

.mine {
    background: red;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four-plus {
    color: brown;
}

.hidden {
    background: rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    border-top: 5px solid rgb(220, 220, 220);
    border-left: 5px solid rgb(220, 220, 220);;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
}

.hidden:active {
    border: 2px solid gray;
    background: lightgray;
    color: lightgray;
}

.flagged {
    background-color: black;
    color: black;
}